/* Site-wide pre-set styles */
:root {
  --snow: #dadff7;
  --dark: #282728;
  --night: #1F1E1F;
  --bright: #ccff33;
  --rounded: 20px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: var(--snow);
}

/* Header & Menu */
header {
  background-color: var(--dark);
  min-height: 50px;
  border-bottom: 1px solid var(--bright);
  padding: 5px;
  position: relative; 
}

header p {
  margin: 10px;
}

nav {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}


nav li {
  flex: 0 0 20px;
  padding: 12px 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

/* All Links */
a {
  color: var(--snow);
  text-decoration: none;
}

a:hover {
  color: var(--bright);
}

/* Main & Body */
body {
  background-color: var(--night);
}

/* Resume Button in Nav - Includes some fun tool-tip text & Opens resume in seperate tab */
#resume-btn:hover::after {
  content: "Hire me! (You won't regret it) ^-^";
  color: var(--dark);
  background-color: #ffffff;
  border-radius: var(--rounded);
  font-size: .8em;
  width: 190px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  position: absolute;
  bottom: -35px;
  right: 0;
}

/* All Headings */
h1 {
  font-size: 30px;
  margin: 10px;
}

h2 , h3, h5 {
  font-size: 2em;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}

/* Images */
img {
  border-radius: var(--rounded);
}


/* About Section */
#about {
  min-height: 50vh;
  padding: 60px;
}

#profile-photo {
  width: 200px;
  margin-bottom: 30px;
  border-radius: 30px;
  border: var(--bright) solid 1px;
}

#about p {
  line-height: 1.2;
  margin-top: 20px;
}

/* Portfolio Section Styling */
#portfolio {
  background-color: var(--dark);
  padding: 60px;
}

#portfolio button {
  display: none;
}

#portfolio-feature img {
  width: 100%;
}

#portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item img {
  max-width: 100%;
}

.portfolio-item {
  flex: 0 0 48%;
  position: relative;
}

/* Portfolio image HOVER Effects */
.hover-image:hover {
  filter: brightness(1.25);
  transition: all .3s;
}

.portfolio-item:hover button {
  color: #1F1E1F;
  border: 2px solid #1F1E1F;
  margin: 2px;
  display: contents;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

/* Contact Section */
#contact {
  padding: 60px;
}

.contact-container {
  display: flex;
  justify-content: center;
}

#contact li {
  display: inline-block;
  padding: 0 1%;
}

/* Footer */
footer {
  color: var(--dark);
  text-align: center;
  padding: 20px 0;
}

/* Tablets */
@media screen and (max-width: 992px) {

}

/* Large Smartphones */
@media screen and (max-width: 768px) {
  header {
    min-height: 180px;
  }

  li:has(a):hover {
    background-color: #202020;
  }

  .portfolio-item {
    flex: 0 0 100%;
  }

}

/* Small Smartphones */
@media screen and (max-width: 600px) {

  nav ul {
    flex-direction: column;
  }

}