/* Site-wide pre-set styles */
:root {
  --snow: #dadff7;
  --dark: #282728;
  --night: #1F1E1F;
  --bright: #ccff33;
  --rounded: 5px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: var(--snow);
}

/* Header & Menu */
header {
  background-color: var(--dark);
  min-height: 50px;
  border-bottom: 1px solid var(--bright);
  padding: 5px;
  position: fixed; 
  /* top: 0; */
  z-index: 999;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 0;
}

nav li {
  display: inline-block;
  padding: 0 10px 0 40px;
}

/* All Links */
a {
  color: var(--snow);
  text-decoration: none;
}

a:hover {
  color: var(--bright);
}

/* Main & Body */
body {
  background-color: var(--night);
}


/* Resume Button in Nav - Includes some fun tool-tip text & Opens resume in seperate tab */
#resume-btn:hover::after {
  content: "Hire me! (You won't regret it) ^-^";
  color: var(--dark);
  background-color: #ffffff;
  border-radius: var(--rounded);
  font-size: .8em;
  width: 190px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  position: absolute;
  bottom: -35px;
  right: 0;
}

/* All Headings */
h1 {
  font-size: 30px;
  padding: 0 0 10px 0;
}

h2 , h3, h4 {
  font-size: 2em;
}

/* Images */
img {
  border-radius: var(--rounded);
  /* max-width: 100%; */
}

#profile-photo {
  width: 200px;
  margin: 0 20px;
  float: left;
  border-radius: 50px;
}

/* About Section */
#about {
  min-height: 50vh;
  padding: 60px 10px;
}

/* Portfolio Section Styling */
#portfolio {
  background-color: var(--dark);
  padding: 60px;
}

#portfolio button {
  display: none;
}

#portfolio-feature {
  width: 100%;
}

#portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  flex: 0 0 50%;
  position: relative;
  /* background-color: var(--bright); */
}

/* Portfolio Item Hover Effect */
/* #portfolio-container {
	opacity: 1;
	transition: .3s ease-in-out;
} */
.hover-image:hover {
	/* opacity: .5; */
  filter: brightness(1.25);
  transition: all .3s;
}

.portfolio-item:hover button {
  color: #1F1E1F;
  border: 2px solid #1F1E1F;
  margin: 2px;
  display: contents;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

/* Contact Section */
#contact {
  padding: 60px;
}

/* #contact ul {
  padding: 40px 10px;
  justify-content: space-around;
} */

.contact-container {
  display: flex;
  justify-content: center;
}

#contact li {
  display: inline-block;
  padding: 0 1%;
}

/* Footer */
footer {
  color: var(--dark);
  text-align: center;
  padding: 20px 0;
}

/* Tablets */
@media screen and (max-width: 992px) {

}

/* Large Smartphones */
@media screen and (max-width: 768px) {
  header {
    min-height: 170px;
  }

  /* nav {
    margin: 0;
  } */

  li:has(a):hover {
    background-color: #202020;
  }

  nav li {
    padding: 12px 20px;
  }

  #contact li {
    display: block;
    text-align: center;
    padding: 15px 0 0 0;
  }

}

/* Small Smartphones */
@media screen and (max-width: 576px) {

    /* Stack portfolio images */
    /* .portfolio-item {
      width: 100%;
      } */

}